#main-header {  
    
    #catchy-header-background{
        text-align: center;
        position: relative;
        background: url('../../assets/img/header-background.jpg');
        background-size: cover;
        min-height: 25rem;
        #catchy-header-text {
            position: relative;
            top: 40%;
        }
    }

    .panel-heading {
        padding: 4rem;

        @media (max-width: 1200px) {
            font-size: 2rem;
          }
    }
    .port-item {
        width: 30%;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    
        @media (min-width: 1199px) {
            padding: 5.5rem 3rem !important;
          }
      }
  }


  

  