#main-header {  

    img {
        width: 100%;
        height: 100%
    }

    .panel-heading {
        padding: 4rem;
    }
    .port-item {
        width: 30%;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    
        @media (min-width: 1199px) {
            padding: 5.5rem 3rem !important;
          }
      }
  }


  

  